html, body {
	padding: none;
	font-family: "Amatic SC";
}

.header {
	height: 400px;
	background-image: url(../img/Header-Indianapolis-Skyline.jpeg);
	background-size: cover;
	text-align: center;
	margin: -25px -15px 0px -15px;
}

.header .container p {
	position: relative;
	top: 50px;
	left: 150px;
	float: left;
	color: #EEE;
	font-size: 24px;
}

.header .container h2 {
	color: white;
	font-size: 28px;
	padding: none;
	top: 116px;
	position: relative;
}

.menu {
	float: right;
}

.menu .nav {
	padding: 21px 10px 1px 10px;
	background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0% !important;
}

.menu .nav li {
	padding: 0;
	margin: 0 0 20px;
	list-style: none;
	display: block;
}

.menu .nav li a {
	color: #9E9E9E;
	text-decoration: none;
}