div {
    border-radius: 5%
}

a {
    text-decoration: none;
    color:gray;
}

#header {
    width: 97.5%;
	margin-top: -20px;
	height: 60px;
    background-color: #aaa9a5;
    position: fixed;
    z-index: 1;
    margin-bottom: 10px;
}

#title
{
    margin-left: 50px;
    font-family: Verdana;
    color: #ffffff;
}

#email
{
    float:right;
	margin-right: 50px;
	margin-top: -50px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

img {
    width: 90%;
    height: auto;
    padding-left: 5%;
    padding-top: 5%;
}

h3 {
    margin-left: 10px;
    font-family: Verdana;
}

h3 p {
    margin-left: 20px;
    font-family: Verdana;
    margin-top: -10px;
}

.left {
    margin-top: 45px;
    height: 90%;
    width: 18%;
    background-color: #b23a50;
    float: left;
}

.side {
    padding-top: 10px;
    font-size:15px;
    font-family: Verdana;
    padding-left: 5%;
}

.right {
    margin-top: 45px;
    height: 90%;
    width: 80%;
    background-color: #ad5d62;
    float: right;
}

 p {
    padding-left: 15px;
}

#footer {
    height: 10%;
    width: 100%;
    background-color: orange;
    clear: both;
}

#footer p {
    position: relative;
	padding-top: 15px;
	position: center;
    color: #ffffff;
    font-family: Verdana, sans-serif;
    margin-left: 35%;
}
